     
     :root {
        --branco: #ffff;
        --gelo: #f1f1f1;
        --verde: #19c463;
        --preto: #2a2a2a;
        --cinzaLupa: #b3afaf;
    
    
       
        --cinza: #f4efe9;
        --cinza2:#f7f9fc;
        --azul: #bae1f7;
        --azul2: #b3d6f3;
        --azul3: #6db3e8;
        --amarelo: #f3bf14;
    
    
        --amarelo2: #f3bf14;
        --verdeClaro: #a9e7d0;
        --rosa: #fecfc8;
        --rosa2: #fef7e9;
    
    }
     /* Estilização DISCA DE MANEJO 

     /* Topo Colorido */
     .top-bar {
         display: grid;
         justify-content: space-between;
         align-items: center;
         background-color: #003366;
         padding: 10px;
     }

     .middle {
         display: flex;
         margin: 0 auto;
         /* Centraliza horizontalmente */
         width: 180px;
         background-color: #fecd00;
         padding: 10px;
         border-radius: 10px;
         color: #003366;
         font-weight: bold;
         line-height: 2;
         text-align: center;
         margin-bottom: 0px;

     }
     .school-student {
         background-color: #FFD700;
         display: flex;
         justify-content: space-around;
         padding: 10px;
         font-size: 1.3em;
         font-weight: bold;
         color: #003366;
     }

     .gridDicaManejo {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 5px;
         padding: 10px;
     }

     .label {
         background-color: #cce6ff;
         color: var(--preto);
         padding: 10px;
         font-weight: bold;
         border-radius: 10px;
         text-align: right;
         
     }

     .content-info {
         background-color: var(--verdeClaro);
         padding: 15px;
         border-radius: 10px;
         color: #003366;
         font-weight: 500;
     }



     /* Estilos individuais */
     .plano {
         text-align: center;
         padding: 5px;
         width: 140px;


     }

     .educacional {
         text-align: center;
         padding: 5px;
         width: 140px;

     }

     .pei {
         text-align: center;
         padding: 5px;
         width: 140px;

     }