/* Estilização MATERIAIS COMPLEMENTARES */

:root {
  --branco: #ffff;
  --gelo: #f1f1f1;
  --verde: #19c463;
  --preto: #2a2a2a;
  --cinzaLupa: #b3afaf;


 
  --cinza: #f4efe9;
  --cinza2:#f7f9fc;
  --azul: #bae1f7;
  --azul2: #b3d6f3;
  --azul3: #6db3e8;
  --amarelo: #f3bf14;


  --amarelo2: #f3bf14;
  --verdeClaro: #a9e7d0;
  --rosa: #fecfc8;
  --rosa2: #fef7e9;

}

.header {
  background-color: #3d9eea;
  border-radius: 30px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #fff;
  
}

.header img {
  width: 50px;
  height: 50px;
}

.header h1 {
  font-size: 2em;
  margin: 0;
}



.section-title {
  background-color: #fff;
  padding: 20px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  color: #2d2d2d;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.contentMateriaisComplementares {
  background-color:var(--azul2);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  border-radius: 25px;

}

.card {
  display: flex;
  align-items: center;
  background-color: #fff6d1;
  border-radius: 20px;
  padding: 2px 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
  height: 80px;
}

.card:hover {
  background-color: #fff3b5;
}


.icon {
  font-size: 2.5em;
  margin-right: 0px;
  padding-right: 10px;
}

.card h3 {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}


.card p {
  margin: 2px 0 0;
  font-size: 1em;
}
