 /* Estilização DO MATERIAIS COMPLEMETARES */


 .header {
   background-color: #2c83b9;
   color: white;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 8px solid #ff7315;
 }

 .header-title {
   font-size: 1.6em;
   font-weight: bold;
   display: flex;
   align-items: center;
   gap: 10px;

 }

 .titulo {
   text-align: center;
 }

 .tag {
   background-color: #fdb913;
   color: #003366;
   padding: 8px 16px;
   font-weight: bold;
   border-radius: 8px;
 }


 .sectionSobre {
   max-width: 850px;
   margin: 20px auto;
   border-radius: 15px;
   padding: 10px;
   align-content: center;
 }

 .card {
   display: flex;
   background-color: #fff;
   border: 2px solid #fcd96b;
   border-radius: 20px;
   padding: 20px;
   margin-bottom: 25px;
   align-items: center;
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
 }

 .card-icon {
   min-width: 80px;
   min-height: 80px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2.5em;
   margin-right: 20px;
 }

 .card-content h3 {
   background-color: #f55a1e;
   color: white;
   display: inline-block;
   padding: 5px 15px;
   border-radius: 15px 15px 0 15px;
   font-size: 1.2em;
   margin: 0 0 10px 0;
 }

 .card-content p {
   margin: 0;
   font-size: 1em;
   color: #1c1c1c;
 }

 .idea-icon {
   background-color: #ffd028;
 }

 .info-icon {
   background-color: #6ed2e3;
 }

 .plan-icon {
   background-color: #ffd028;
 }


 .definicao {
   background-color: #ffecb3;
 }

 .caracteristicas {
   background-color: #c7f0e1;
 }

 .legislacao {
   background-color: #ffd9dc;
 }